@model List<User>
@{
	ViewData["Title"] = "Listagem de Usuários";
}

<section class="section-listar-greenway">
    <div class="section-container-table">
        <h1>Listas de <span class="slogan-home">Usuários</span></h1>
        <div class="container-search">
            <form method="get" asp-action="PesquisaNome" asp-controller="User" class="header-form-search">
                <input type="search" class="input-search" placeholder="Pesquisar nome..." aria-label="Search" name="searchString">
                <button type="submit" class="button-search-ico"><img class="search-ico" src="~/img/ico-search.svg" alt="Icone de Pesquisa" /></button>
            </form>
        </div>
        <div class="container-buttons">
            <a asp-action="Cadastrar" class="button-link-cadastrar">Cadastrar Novo</a>
            <a asp-action="Index" class="button-back-list">Voltar a Lista de Empresas</a>
        </div>

        <div class="content-table">
            <table class="table">
                <tr class="table-head">
                    <th class="table-title">E-mail</th>
                    <th class="table-title">Senha</th>
                    <th class="table-title">Data de Criação</th>
                    <th class="table-title">Data de Atualização</th>
                </tr>
                @foreach (var c in Model)
                {
                    <tr>
                        <td class="table-content">@c.ds_email</td>
                        <td class="table-content">@c.password</td>
                        <td class="table-content">@c.dt_created_at</td>
                        <td class="table-content">@c.dt_updated_at</td>
                        <td class="table-content">
                            <div class="button-container">
                                <a asp-action="Editar" class="button-link-editar" asp-route-id="@c.id_user">Editar</a>
                                <a class="button-link-remover" onclick="userId.value = @c.id_user">Remover</a>
                            </div>                        
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="content-alert-sucess" id="content-alert-sucess">
            <p id="alert-message">@TempData["msg"]</p>
        </div>
    </div>
</section>

<div class="confirm-overlay">
    <div class="confirm-content">
        <div class="confirm-header">
            <h5 class="confirm-title">Confirmação</h5>
            <button type="button" class="button-confirm" onclick="hideConfirmOverlay()">X</button>
        </div>
        <div class="confirm-body">
            Deseja realmente apagar o usuário?
        </div>
        <div class="confirm-footer">
            <form asp-action="remover">
                <input name="id" type="hidden" id="userId" />
                <button type="button" class="button-confirm" onclick="hideConfirmOverlay()">Não</button>
                <button type="submit" class="button-confirm" id="button-submit" onclick="hideConfirmOverlay();">Sim</button>
            </form>
        </div>
    </div>
</div>